<div class="container">
    <header class="page-header text-center">
        <h1 class="h1"><a href="{{ path("tabletennis_home_page") }}"><img src="/images/logo.png" height="40px">CF TISCHTENNIS</a></h1>
    </header>
</div>

{% include "components/navigation.html.twig" %}