{% extends 'tabletennis/base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Report table tennis</h1>
        </div>
    </div>

    {{ include('tabletennis/_form.html.twig') }}


    <a href="{{ path('tabletennis_game_index') }}">back to list</a>
{% endblock %}
