{% extends 'tabletennis/base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}

    <div class="row">
        <div class="form-group col-md-3">
        </div>
        <div class="col-md-9 text-center">
            <h1 class="mt-5">Report table tennis</h1>
        </div>
    </div>

    {{ include('tabletennis/_form.html.twig') }}

{% endblock %}
