<div class="container">
    <header class="page-header text-center">
        <h1 class="h1"><a href="{{ path("billiard_home_page") }}"><img src="/images/billiard_logo_black.png" height="40px">CF Billiard</a></h1>
    </header>
</div>

{% include "components/navigation.html.twig" %}