{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <h2>Ranking TableTennis</h2>
    <div class="col-lg-12 text-center">
        <a href="{{ path('tabletennis_game_new') }}" class="btn btn-tabletennis" role="button">Report a new table tennis game</a>
    </div>
    {% include "tabletennis/table.html.twig" %}
    <div class="col-lg-12 text-center">
        <a href="{{ path('tabletennis_game_new') }}" class="btn btn-tabletennis" role="button">Report a new table tennis game</a>
    </div>
</div>
<div class="row">
    <h2>Ranking Billiard</h2>
    <div class="col-lg-12 text-center">
        <a href="{{ path('billiard_game_new') }}" class="btn btn-billiard" role="button">Report a new billiard game</a>
    </div>
    {% include "billiard/table.html.twig" with {'users' : usersBilliard} %}
    <div class="col-lg-12 text-center">
        <a href="{{ path('billiard_game_new') }}" class="btn btn-billiard" role="button">Report a new billiard game</a>
    </div>
</div>

{% endblock %}
