{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Rules CF-Tischtennis</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="container-fluid full-width-image" style="background: url('/images/rules.jpg') no-repeat 50% fixed"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Times</h2>
            <p>Do <b>not play</b> during lunch time <b>12:30 - 14:00</b>, so that we may have a match hall without
                having to loose our lunch lounge.</p>
            <h2>Room</h2>
            <p>Close all the doors when you play - specially the one going to the consultant room</p>
            <p>Avoid to be loud / to play when customers in the house (if you see meetings, just ask the
                consultants)</p>
            <p>Try to not jump / run too loud ;-)</p>

            <h2>Match rules</h2>
            <p>You have to win 3 sets</p>
            <p>One set has 11 points</p>
            <p>You have to win by at least 2 points</p>
            <p>After 2 services, the serving player change</p>
            <p>If there's 10-10, the service change after every points</p>
            <h3>Handicap</h3>
            <p>Difference of points between players:</p>
            <ul>
                <li>100pt <br/> The one with the less point need only to win <b>2</b> sets</li>
                <li>200pt <br/> The one with the less point need only to win <b>1</b> set</li>
            </ul>
            <h2>Have fun!</h2>
            <img src="/images/fun.jpg" />
        </div>
    </div>
{% endblock %}