@import "~bootstrap/scss/bootstrap";
$red: #e92351;
$blue: #0B6DC0;

* {
  font-family: "Arial";
}

body {
  background-color: #35c00b;
}

.table-tennis {
  background-color: #e92351;
}

.billiard {
  background-color: #0b6dc0;
}

.page-header {
  margin: 20px 0 20px;

  a {
    font-weight: bold;
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.nav-header {
  height: 82px;
  margin-bottom: 30px;
}

.navbar {
  margin: auto;
  z-index: 1030;
  justify-content: left;
  border: 3px solid black;

  li {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 5px 0 5px 0;
  }
}

.navbar-toggler {
  margin-right: 10px;
}

.nav-brand {
  margin-right: 10px;
}

.billiard{
  .navbar {
    border: 3px solid $blue;
  }
}

.table-tennis {
  .navbar {
    border: 3px solid $red;
  }
}

@media (min-width: 1200px) {
  .navbar {
    max-width: 1280px;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #EB3963;
  }
}

.nav-brand {
  img:hover {
    opacity: 0.7;
  }

  @include media-breakpoint-down(sm) {
    border-width: 0.5px;
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
  }
}

.nav-item {
  @include media-breakpoint-up(md) {
    padding-right: 10px;
  }

  a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container {
  background-color: white;
}

.content-wrapper {
  position: relative;
  margin: auto;
  width: 1280px;
  max-width: 100%;
  min-height: 500px;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  overflow: hidden;
  background-color: white
}

.full-width-image {
  height: 150px;
  background: url("/images/tischtennis.jpg") no-repeat center center fixed;
  background-size: cover;
}

.row {
  padding-bottom: 20px;
}

.sets {
  list-style-type: none
}

.table-responsive {
  margin: 20px 0 20px;
}


.btn-tabletennis {
  @include button-variant($red, darken($red, 7.5%), darken($red, 10%), lighten($red, 5%), lighten($red, 10%), darken($red, 20%));
}


.btn-billiard {
  @include button-variant($blue, darken($blue, 7.5%), darken($blue, 10%), lighten($blue, 5%), lighten($blue, 10%), darken($blue, 20%));
}

@include media-breakpoint-down(sm) {
  .h1 {
    font-size: 25px;
  }
}

.win-loose-stats {
  padding-bottom: 30px;
  border-bottom: 1px solid;
  @include media-breakpoint-up(md) {
    height: 350px;
  }
  h4{
    padding-top: 20px;
    margin-bottom: 0;
    @include media-breakpoint-up(md) {
      height: 80px;
    }
  }
}