body {
    padding-top: 36px;
}

.container{
    background-color: white;
}

.content-wrapper{
    position: relative;
    margin: auto;
    width: 1280px;
    max-width: 100%;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
    background-color: white
}

.full-width-image {
    height: 300px;
    background: url("/images/tischtennis.jpg") no-repeat center center fixed;
    background-size: cover;
}

.row{
    padding-bottom: 20px;
}